{% extends 'base.html' %} 
{% block title %}Acts of Kindness{% endblock%}


{% block content%}

<br/>

<h2 align="center"> List of Acts of Kindness (AoK)</h2>
<br/>

<table id="aoks" class="table table-striped">
<thead>
    <tr>
    <th>Description</th>
    <th>Source</th>
    <th>Date Added</th>
    </tr>
</thead>
<tbody> 

{% for aok in acts %}
<tr>
    <td>{{aok.act}}</td>
    <td>{{aok.source}}</td>
    <td>{{aok.date}}</td>
</tr>
{% endfor %}

</tbody>
</table>

{% endblock%}


{% block scripts %}

<script>
    $(document).ready(function(){
        $('#aoks').DataTable({

        });
    });
</script>
{% endblock %}
